# winston to insert into
@include Winston.config

# Server to pull from
waveServer=130.118.181.39:16022

createChannels=true
findGaps=true # unimplemented

# timeRange=[startTime]{,[endTime]}
# examples:
#    # one day explicit YYYYMMDDHHMMSS
#    timeRange=20051201000000,20051202000000
#    # one day with time range
#    timeRange=-1d,20051202000000
#    # or
#    timeRange=-24h,2005120200000
#    # last 10 minutes
#    timeRange=-10i
timeRange=-24h

# maximum size in seconds to ask for from the waveserver
chunkSize=3600

# time to wait in milliseconds between asking for chunks
chunkDelay=0

rsam.delta=10
rsam.duration=60

channel=* * * *