#!/bin/sh

dirs="/usr/local/WinstonAVO /usr/local/WinstonNMI"

case "$1" in
  start)
	for dir in $dirs ; do
		session=`basename $dir`-ImportEW
		cmd=${dir}/ImportEW.sh
		su - winston -c "/usr/local/bin/screen -dmS ${session} ${cmd}"
	done
    ;;
  stop)
    ;;
  *)
        echo "Usage: $0 {start}"
        exit 1
esac

exit 0



